{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>UpSharing! | Upload</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'sharing/style.css' %}" rel="stylesheet">

</head>

<body class="text-center">
    <form class="form-signin" action="/upload/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">UpSharing!</h1>
        <input type="file" id="file" name="file" class="form-control" required autofocus>
        <button class="w-100 btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    </form>
</body>

</html>